// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$indigo-palette);
$client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-light-theme((color: (primary: $client-primary,
        accent: $client-accent,
        warn: $client-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);
@import 'variables';

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  height: stretch;
  height: fill-available;
  height: -webkit-fill-available;
  overflow-y: overlay;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: stretch;
  min-height: fill-available;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  background-color: $pale-grey;
  color: #262626;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  word-spacing: 2px;
}

nav {
  max-width: 1160px;
  margin: 0 auto;
  padding: 2% 5%;
  position: relative;
  top: 0;
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    list-style-type: none;
    gap: 30px;

    li {
      font-size: 16px;
    }
  }
}

.divider {
  border-bottom: 1px solid $light-grey;
  margin-bottom: 20px;
}

section {
  max-width: 1160px;
  margin: 0 auto;
  padding: 2% 5%;
}

.page-section {
  position: relative;
  height: 100vh;
  left: 140px;
  width: calc(100% - 80px);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}

.page-section .page-header {
  height: 80px;
  display: flex;
  align-items: center;
}

.page-section .page-header .title {
  color: white;
  font-size: 35px;
}

.page-section .page-header .title {
  font-size: 26px;
  font-weight: 600;
}

.page-section .page-view {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

a {
  color: #262626;
  text-decoration: none;
  text-align: center;
  transition: $transition;

  &:hover,
  &:focus {
    outline: none;
    color: $orange;
  }
}

@media screen and (max-width: 800px) {
  body {
    $horizontal-margin: 5%;
  }

  .page-section {
    max-width: 60%;
  }
}
