$primary: #ECEFF4;
$secondary: #E5E9F0;
$tertiary: #cbd2e0;
$tertiary-trans: #cbd2e05a;
$text: #2E3440;
$text-bright:#515a6f;
$text-trans: #4c566ad1;
$dark: #191c222e;
$accent1: #a2c4e6;
$accent1-light: #b9d9f9;
$accent1-dark: #5E81AC;
$accent2: #88C0D0;
$accent3: #8FBCBB;
$red: #BF616A;
$orange: #D08770;
$yellow: #EBCB8B;
$green: #A3BE8C;
$purple: #B48EAD;

$horizontal-margin: 20%;
$transition: 0.15s ease;
$sm-radius: 4px;
$border: 1px solid $dark;

$xxs: 12px;
$xs: 14px;
$sm: 16px;
$md: 18px;
$lg: 20px;
$xl: 25px;
$xxl: 32px;
