$darkest-brown: #663A00;
$dark-brown: #884D00;
$brown: #AA6100;
$orange: #EE8700;
$yellow: #FFCD00;
$light-yellow: #FFEB99;
$blue: #C2DFF6;
$light-blue: #D1E7F8;
$light-grey: #e1e1f7;
$pale-grey: #FCFCFF;
$white: #FFFFFF;
$dark-grey: #525253;

$horizontal-margin: 20%;
$transition: 0.15s ease;
$sm-radius: 4px;
$border: 1px solid $light-grey;

$xxs: 12px;
$xs: 14px;
$sm: 16px;
$md: 18px;
$lg: 20px;
$xl: 25px;
$xxl: 32px;
