@import '../../../variables.scss';

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  border-style: hidden;
  background: $cream;
  box-shadow: 0 0 0 1px $light-black;

  thead th {
    background-color: $dark-cream;
    border-bottom: 1px solid $light-black;
  }

  tr {
    cursor: pointer;

    &:hover {
      background-color: $dark-cream;
    }
  }

  td,
  th {
    text-align: center;
    padding: 10px;
  }
}
