@import '../../../variables.scss';

.tickets-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .search-container {
    width: 100%;

    form {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;

      span.search {
        position: absolute;
        color: $text-trans;
        padding-left: 8px;
        font-size: 18px;
      }

      input[type="text"] {
        background: $tertiary;
        border: $border;
        color: $text;
        text-indent: 30px;
        border-radius: 3px;
        height: 40px;
        outline: none;
      }

      ::placeholder {
        color: $text-trans;
      }
    }

    form input {
      width: 100%;
    }
  }

  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    thead th {
      font-size: 14px;
      padding: 10px;
    }

    tbody {
      border: 0;

      tr {
        cursor: pointer;

        &:hover {
          background-color: $tertiary-trans;
        }
      }

      tr,
      td {
        padding: 10px;
        border: $border;
        border-top: 0;
      }
    }

    @media screen and (max-width: 800px) {
      .hide {
        display: none;
      }
    }
  }
}
