<form (submit)="formSubmit($event)">
  <label>Your email address</label>
  <input type="email" id="email" name="email" required>

  <label>Your username</label>
  <input type="text" id="username" name="username" required>

  <label>Type of report</label>
  <select id="category" name="category" required>
    <option>-</option>
    <option value="HATE_SPEECH">hate speech</option>
    <option value="CYBERBULLYING">cyberbullying</option>
    <option value="STALKING">stalking</option>
    <option value="IMPERSONATION">impersonation</option>
    <option value="THREATS_OF_VIOLENCE">threats of violence</option>
    <option value="SEXUAL_HARASSMENT">sexual harassment</option>
    <option value="PRIVACY_VIOLATION">privacy violation</option>
    <option value="OTHER">other</option>
  </select>

  <label>Subject</label>
  <input type="text" id="subject" name="subject" required>

  <label>Description</label>
  <textarea id="description" name="description" required></textarea>

  <label>Attachments <span>(optional)</span></label>
  <input type="file" id="attachments" name="attachments" multiple>
  <button type="submit">Submit</button>
</form>
