<form>
  <label>Your email address</label>
  <input type="email" id="email" name="email" required>

  <label>Your username</label>
  <input type="text" id="username" name="username" required>

  <label>Type of report</label>
  <select>
    <option>-</option>
    <option>hate speech</option>
    <option>stalking</option>
    <option>impersonation</option>
    <option>cyberbullying</option>
    <option>threats of violence</option>
    <option>sexual harassment</option>
    <option>privacy violation</option>
    <option>other</option>
  </select>

  <label>Subject</label>
  <input type="text" id="subject" name="subject" required>

  <label>Description</label>
  <textarea id="description" name="description" required></textarea>

  <label>Attachments <span>(optional)</span></label>
  <input type="file" id="attachments" name="attachments" multiple>
</form>
