<section>
  <div class="page-section">
    <div>
      <app-sidebar></app-sidebar>
    </div>

    <div>
      <article *ngIf="ticket">
        <h1>{{ ticket.subject }}</h1>
        <p>{{ ticket.description }}</p>

        <!-- TODO: fix image table later -->
        <!-- <table>
              <thead>
                <tr>
                  <th>Attachments</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let image of ticket.images">
                  <td>
                    <img [src]="image" alt="Attachment">
                  </td>
                </tr>
              </tbody>
            </table> -->
      </article>
    </div>
  </div>
</section>
